* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  height: 480px;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid black;
  position: relative;
}

#storys {
  height: 120px;
  width: 100%;
  /* background-color:darkblue; */
  padding: 15px;
  border-bottom: 1px solid #dadada;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#storys::-webkit-scrollbar{
    display: none;
}
.story {
  /* background-color: cornflowerblue; */
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px solid red;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}

.story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#fullScreen{
    height: 100%;
    width: 100%;
    /* background-color: coral; */
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}