* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    display: flex;
    background-color: #888;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 420px;
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px black;
  }

  .container img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  #name {
    margin: 10px;
  }

  .container h5 {
    margin-bottom: 5px;
    font-size: 20px;
    color: red;
  }

  button {
    padding: 8px 12px;
    border: none;
    background-color: rgb(99, 99, 239);
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    cursor: pointer;
  }